
<div class="banner">
	<%= image_tag('atl_skyline.JPG') %>
	<i class="icon-code icon-4x"></i>

</div>

<p> Hello my name is Daniel Willems and I am a web developer. </p>
<a href="#" class="btn btn-large btn-warning">Background</a>

<a href="#" class="btn btn-large btn-warning">Portfolio</a>

<a href="#" class="btn btn-large btn-warning">Resume</a>
