<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    
      <%= link_to "Daniel Willems", root_path , id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "More Stuff",    root_path %></li>
        </ul>
      </nav>

  </div>
</header>