<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Daniel Willems", root_path , id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "More Stuff",    root_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>